<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAppTry"
        tools:targetApi="31">
        <activity
            android:name=".ui.DetailHeroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.AritmatikaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.fragmentactivity.MenuProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.fragmentactivity.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.FirstAppTry" />
        <activity
            android:name=".ui.homemenu.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.ViewAndViewGroupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.MoveForResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.MoveWithObjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.MoveWithDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homemenu.MoveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>